@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  @apply bg-slate-950 text-white antialiased;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #06b6d4 #1e293b; /* base thumb color, track color */
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #06b6d4; /* cyan-500 */
  border-radius: 10px;
  border: 2px solid #1e293b; /* Border for contrast */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #0891b2; /* cyan-600 */
}